i{
    font-size: 20px;
    margin: 0 5px;
}

i.fa-pencil-alt{
    color: greenyellow;
}

i.fa-trash{
    color: crimson;
}

i.fa-search{
    color: blue;
}

.btn-custom{
    background: transparent;
    border: none;
    outline: none;
    overflow: hidden;
}

.btn-custom:focus{
    background: transparent;
    border: none;
}